<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link')%>

<div class="courses delete">
	<h2>Delete Course</h2>
	
	<%= form_for(:course, :url => {:action => 'destroy', :id => @course.id}) do |f|%>
	
		<p>Are you sure you want to permanently delete this course?</p>
		
		<p class ="reference-name"><%= @course.name %></p>
		
		<div class="form-buttons">
			<%= submit_tag("Delete Course")%>
		</div>
	<% end%>
</div>
