<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link')%>

<div class = "courses edit">
	<h2>Update Course</h2>
	
	<%= form_for(:course, :url => {:action => 'update', :id => @course.id}) do |f|%>
		
		<%= render(:partial => "form", :locals => {:f => f}) %>
		
		<div class="form-buttons">
		<%= submit_tag("Update Course") %>
		</div>
	<% end %>
</div>
