<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="courses show">
	<h2>Show Course</h2>
	
	<table summary="Course detail view">
		<tr>
			<th>Name</th>
			<td><%= @course.name %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @course.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @course.updated_at %></td>
		</tr>
	</table>
</div>
